window {
    background-color: #d9effc;
}

.login-label {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
}

.welcome-label {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

button.show-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
}

button.show-button:hover {
    background-color: #45a049;
}

combobox {
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px;
}

treeview {
    font-size: 14px;
    color: #333;
}
